<h2> New Rooms</h2>

<form action="/rooms/new" method="post">

<label for="name"></label>
<label type="text" name="name" id="name">

<label for="description" >Description</label>
<label type="text" name="description" id="description">

<label for="imageUrl" >Image</label>
<label type="text" name="imageUrl" id="imageUrl">

<buttom type="submit">Add Room</buttom>
</form>
